/* colors for website design
    #f65151 - red
    #EFF1ED - white
    #FCA311 - orange
    #3b3b3b - gray
    
*/


#main-header {
    background-color: #fef4f4;
    width: auto;
    height: 40px;
    margin: 5px;
    align-content: space-between;
    display: flex;
    align-items: flex-end;
    margin-left: -10px;
    margin-right: -10px;

    /* used to measure div borders.
    border: green solid;
    */
}

#header-logo {
    width: fit-content;
    height: auto;
    margin-left: 100px;

    /* used to measure div borders.
    border: blue solid;
    */
}

#header-logo-1 {
    margin-bottom: -20px;
    margin-top: -15px
}

#main-name {
    width: auto;
    height: 75vh;
    margin-left: -10px;
    margin-right: -10px;
    padding: 20px;
    background-color: #f65151;
    display: flex;
    align-items: center;

    /* used to measure div borders.
    border: green solid;*/
}

#welcome-text {
    font-size: 16px;
    color: #fef4f4;
    width: 100%;
    height: fit-content;
    text-align: center;
    /* used to measure div borders.
    border: blue solid;
    */
}

.main-content {
    background-color: #2d2c2c;
    color: #fef4f4;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;

    /*Whenever the screen changes to mobile device, make it responsive
    border: green solid 5px; */
}

#about-me-container{
    display:grid;
    grid-row: center;
    width: auto;
    height: fit-content;
    padding: 40px;
    padding-top: 100px;

    /* used to measure div borders.
    border: yellow solid;
    */
}

#about-me-section{
    width: auto;
    display: inline-flex;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;

    /* used to measure div borders.
    border: red solid 5px;
    */
}

#about-img {
    width: fit-content;
    height: max-content;
    margin: 10px;

    /* used to measure div borders.
    border: blue solid;
    */
}

#about {
    text-align: left;
    width: fit-content;
    height: fit-content;
    margin: 10px;
    font-size: large;

    /* used to measure div borders.
    border: blue solid;
    */
}

#about>h2 {
    color: #f65151;
    font-size: 2em;
    margin: 0;
}

/*Whenever the screen changes to mobile device, make it responsive */
@media (max-width: 800px) {
    #about-me-section {
        flex-direction: column;
        justify-content: center;
    }
    #about{
        text-align: center;
        width: auto;
        height: auto;
    }
}

.skills-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: fit-content;
    padding: 50px;

    /*Whenever the screen changes to mobile device, make it responsive
    border: yellow solid;
    */
}

#skills-group {
    display: flex;
    text-align: center;
    width: auto;
    align-items: center;
    height: fit-content;

    /*Whenever the screen changes to mobile device, make it responsive
    border: blue solid; */
}

.front-end-skills {
    margin: 15px;
    border: #f65151 solid;
    border-radius: 15px;
    border-width: 3px;
    opacity: 75%;
    width: 150px;
    height: fit-content;

}

/*Whenever the screen changes to mobile device, make it responsive */
@media (max-width: 800px) {
    #skills-group {
        flex-direction: column;
        justify-content: center;
        margin-left: 20px;
        margin-right: 20px;
    }
    #front-end-skills {
        margin-bottom: 20px;
        margin-left: 20%;
        margin-right: 20%;
        width: auto;
        height: auto;
    }
}

.next-part {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;

    border: blue solid;
}