/* colors for website design
    #f65151 - red
    #EFF1ED - white
    #FCA311 - orange
    #3b3b3b - gray
    
*/

#main-header {
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 50px;
    padding-bottom: 10px;
    width: auto;
    height: 20px;
    background-color: #fef4f4;
}

#main-name {
    width: auto;
    font-size: 16px;
    background-color: #f65151;
    color: #fef4f4;
    margin-left: -10px;
    margin-right: -10px;
    text-align: center;
    vertical-align: middle;
    padding: 25px;
}

.main-content {
    background-color: #3b3b3b;
    color: #fef4f4;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: -10px;
}

#about {
    text-align: center;
    margin-left: 75px;
    margin-right: 75px;
    padding-bottom: 40px;
}

#about>h2 {
    color: #f65151;
}

.skills-section {
    text-align: center;
}

#front-end-skills {
    margin-left: 20px;
    margin-right: 20px;
    width: 75px;
    border: #f65151 solid;
    border-radius: 50px;
    border-width: 4px;
    opacity: 80%;
    padding: 30px;
    flex: auto;
}

#skills-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

/*Whenever the screen changes to mobile device, make it responsive */
@media (max-width: 800px) {
    #skills-group {
        flex-direction: column;
        justify-content: center;
        margin-left: 20px;
        margin-right: 20px;
    }
    #front-end-skills {
        margin-bottom: 20px;
        margin-left: 20%;
        margin-right: 20%;
        width: auto;
        height: auto;
    }
}

.next-part {
    text-align: center;
}