/* colors for website design
    #EF3E36 - red
    #EFF1ED - white
    #FCA311 - orange
*/


#header1 {
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}

#fernie-logo1 {
    margin-bottom: -15px;
}

#main-name {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color:  #EFF1ED;
}

#main-name-transform {
    color:  black;
    font-weight: bold;
}

#main-name-transform:hover {
    color: #EF3E36;
}

#work-in-progress {
    text-align: center;
}

.skills-section {
    text-align: center;
}

#about {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

#front-end-skills {
    margin-left: 20px;
    margin-right: 20px;
    border: black solid;
    padding: 50px;
    
}

.skills-group {
    display: flex;
    margin: auto;
}